{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "extends": "airbnb-typescript/base",
    "parserOptions": {
      project: "./tsconfig.json"
      },

      "overrides": [
        {
          "files": [
            "*.ts"
          ],
          "rules": {
            "@typescript-eslint/no-shadow": 0

          }
        }
      ],
    "plugins": [
      "import",
      "@typescript-eslint"
    ]
}
